name: master-deploy
on:
  push:
    branches:
      - master

concurrency: master-deploy

jobs:

  publish:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    name: Build and Push to GHCR
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6.0.0
      - name: Log in to GHCR
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push
        uses: docker/build-push-action@v6.18.0
        with:
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ github.sha }}

  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: publish
    steps:
      - uses: actions/checkout@v6.0.0
        with:
          submodules: recursive
      - name: Run tests
        run: |
          docker compose --file docker-compose.test.yml build
          docker compose --file docker-compose.test.yml run tests

  deploy:
    name: Deploy to Fly
    needs: test
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    permissions:
      contents: none
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: superfly/flyctl-actions@1.5
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
        with:
          args: "deploy -i ghcr.io/${{ github.repository }}:${{ github.sha }}"
